@font-face {
  font-family: 'Alkatra';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alkatra/v3/r05EGLZA5qhCYsyJbuChFuK48Medzngmu7cP.ttf) format('truetype');
}
@font-face {
  font-family: 'Alkatra';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alkatra/v3/r05EGLZA5qhCYsyJbuChFuK48MedzngUu7cP.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alkatra', cursive;
}
body {
  overflow-x: hidden;
}
.pai {
  height: 100vh;
  background-color: white;
}
.oi {
  height: 100vh;
  position: relative;
}
header {
  width: 100vw;
  height: 110px;
  padding: 5px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  transition: 0.3s;
  top: 0;
}
header .logo {
  margin: 0 40px;
  width: auto;
  height: 100%;
}
header .logo img {
  width: auto;
  height: 100%;
}
header .nav {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
}
header .nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .nav ul li {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
}
header .nav ul li a {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}
header .nav ul li a.scrollNav {
  color: #15273c !important;
}
header .nav ul li a.scrollNav:hover {
  color: #e27602 !important;
  text-decoration: underline;
}
header .nav ul li:hover {
  text-decoration: underline;
}
.scroll {
  background-color: white;
  box-shadow: #26394d 0px 20px 30px -10px;
}
main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
main #video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.height100vh {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.height100vh .textContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.height100vh .textContainer p {
  width: auto;
  height: auto;
  text-align: center;
  font-size: 4em;
  color: white;
  text-shadow: 16px 22px 11px rgba(17, 17, 17, 0.8);
}
.height100vh .btnContainer {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.height100vh .btnContainer .btn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
  cursor: pointer;
}
.height100vh .btnContainer .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.height100vh .btnContainer .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.height100vh .btnContainer .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.height100vh .btnContainer .btn::after {
  background-color: #fff;
}
.height100vh .btnContainer .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.colorOrange {
  color: #e27602;
}
