@font-face {
  font-family: 'Alkatra';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alkatra/v3/r05EGLZA5qhCYsyJbuChFuK48Medzngmu7cP.ttf) format('truetype');
}
@font-face {
  font-family: 'Alkatra';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alkatra/v3/r05EGLZA5qhCYsyJbuChFuK48MedzngUu7cP.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alkatra', cursive;
}
header {
  width: 100vw;
  height: 110px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
}
header .logo {
  width: auto;
  height: 100%;
}
header .logo img {
  width: auto;
  height: 100%;
}
header .nav {
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
}
header .nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .nav ul li {
  list-style: none;
  font-size: 1.5em;
  color: #15273c;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
header .nav ul li:hover {
  text-decoration: underline;
}
main {
  width: 100vw;
  height: 80vh;
  background-image: url('../img/barc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 1px 1px 10px black;
}
main .textContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .textContainer p {
  text-align: center;
  font-size: 3.5em;
  color: white;
  text-shadow: 3px 3px 10px black;
}
main .textContainer p span {
  background-color: rgba(255, 81, 0, 0.5);
  padding: 10px;
  border-radius: 40px;
}
main .textContainer p #BemVindo {
  background-color: rgba(0, 0, 255, 0.377);
}
