@import "components/fontsAnim.less"; // Animations and Imports Fonts
@import "components/variables.less"; // Variables

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alkatra', cursive;
}

body {
  overflow-x: hidden;
<<<<<<< HEAD
  width: 100vw;
=======
}

.pai{
  height: 20vh;
  background-color: whitesmoke;
}

.oi{
  height: 100vh;
  position: relative;
>>>>>>> 8ec883af65038e6139e899ec48afc451c0a2ccb0
}



// Preset Class
@import "components/presetClass.less";

@import "components/header/header.less";
@import "components/main/main.less";
<<<<<<< HEAD
@import "components/sobre/sobre.less";
=======
>>>>>>> 8ec883af65038e6139e899ec48afc451c0a2ccb0
@import "components/whatsapp/whatsapp.less";
@import "components/contato/contato.less";
@import "components/footer/footer.less";
