@import "components/fontsAnim.less"; // Animations and Imports Fonts
@import "components/variables.less"; // Variables

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alkatra', cursive;
}

body {
  overflow-x: hidden;
  width: 100vw;
}



// Preset Class
@import "components/presetClass.less";

@import "components/header/header.less";
@import "components/main/main.less";
@import "components/sobre/sobre.less";
@import "components/whatsapp/whatsapp.less";
@import "components/contato/contato.less";
@import "components/footer/footer.less";
